.container
{
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: slateblue;
  color: snow;
}
.header
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quote
{
  font-size: 18px;
}
.developer
{
  font-size: 12px;
}
.main
{
  width: 85%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.author
{
  margin-top: 3px;
  color: lime;
}
.nextButton
{
  margin-top: 30px;
  width: 40px;
  height: 30px;
  font-size: 17px;
  font-weight: bold;
  color: slateblue;
  background: snow;
  border: none;
  border-radius: 20px;
}
.nextButton :active
{
  transform: scale(0.9);
}